In [1]:
def is_even(number):
  if number <= 0:
    return False
  return number %2 == 0

def even_numbers(start, end):
  numbers = list(range(start, end))
  even_numbers = []
  for number in numbers:
    if is_even(number):
      even_numbers.append(number)
  return even_numbers

In [2]:
even_numbers(20,39)

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [4]:
#filter methods:
list(filter(is_even, range(10, 98)))

[10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96]

In [6]:

def square(number):
  return number * number

numbers = [78,96,5,82]
print(list(map(square, numbers)))

[6084, 9216, 25, 6724]

In [7]:
def starts_with_vowel(city):
  return city[0].upper() in ('A', 'E', 'I', 'O', 'U')

In [10]:
city_names = ["Aberdeen", "Abilene", "Akron", "Albany", "Albuquerque", "Alexandria"]

In [11]:

list(filter(starts_with_vowel, city_names))

['Aberdeen', 'Abilene', 'Akron', 'Albany', 'Albuquerque', 'Alexandria']